In [1]:
import pandas as pd 
import dataparser 
import numpy as np

pd.set_option('display.max_columns', None)
data=pd.read_csv('_data.csv', index_col=0)

#если цена не в рублях то выбрасываем, цены на доллар и евро сильно меняются, непонятно какая цена в рублях (там всего 27 вариантов)
data=data[data['Цена'].str.contains('руб.')].reset_index()

#убираем всех не из Москвы
data=data[data['Адрес'].str.contains('Москва')]

#заполняем пустые места для количества комнат, так как это студии, 1 комната
#фича "Тип" у всех одинаковая, дропаем
data=data.fillna({'Количество комнат':1})\
         .drop('Тип',axis=1)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19714 entries, 0 to 23343
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     19714 non-null  int64
 1   ID  объявления            19714 non-null  int64
 2   Количество комнат         19714 non-null  object
 3   Метро                     19369 non-null  object
 4   Адрес                     19714 non-null  object
 5   Площадь, м2               19714 non-null  object
 6   Дом                       19714 non-null  object
 7   Парковка                  8551 non-null   object
 8   Цена                      19714 non-null  object
 9   Телефоны                  19714 non-null  object
 10  Описание                  19714 non-null  object
 11  Ремонт                    17255 non-null  object
 12  Площадь комнат, м2        12497 non-null  object
 13  Балкон                    13091 non-null  object
 14  Окна                      14569 non-null  object
 15  Санузел                   17675 non-null  object
 16  Можно с детьми/животными  14803 non-null  object
 17  Дополнительно             19443 non-null  object
 18  Название ЖК               4444 non-null   object
 19  Серия дома                2088 non-null   object
 20  Высота потолков, м        10525 non-null  float64
 21  Лифт                      15526 non-null  object
 22  Мусоропровод              11723 non-null  object
 23  Ссылка на объявление      19714 non-null  object
dtypes: float64(1), int64(2), object(21)
memory usage: 3.8+ MB

In [276]:
data.columns

Index(['index', 'ID  объявления', 'Количество комнат', 'Метро', 'Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны', 'Описание',
       'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Ссылка на объявление'],
      dtype='object')

In [282]:
data[pd.isnull(data['Метро'])][['ID  объявления','Метро']]

       ID  объявления Метро
189         271453191   NaN
233         167911714   NaN
244         170068347   NaN
267         186299640   NaN
742         274251220   NaN
...               ...   ...
21952       272198789   NaN
21953       274186143   NaN
22142       273969057   NaN
23249       273795912   NaN
23293       274551448   NaN

[345 rows x 2 columns]

In [291]:
for i  in data[pd.isnull(data['Метро'])]['ID  объявления']:

    a=data[data['ID  объявления']==i]['Адрес'].values[0]
    

    break

Москва, улица Новый Арбат, 29

In [292]:
data[data['Адрес']=='Москва, улица Новый Арбат, 29']

,index,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Телефоны,Описание,Ремонт,"Площадь комнат, м2",Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
123,123,272128059,4,м. Арбатская (None мин пешком),"Москва, улица Новый Арбат, 29",212.0/20.0,6/17,NaN,"350000.0 руб./ За месяц, Залог - 350000 руб., ...",+79660515764,Лот: 48706. В долгосрочную аренду предлагается...,Дизайнерский,NaN,NaN,На улицу и двор,Совмещенный (2),"Можно с детьми, Можно с животными","Мебель на кухне, Ванна, Душевая кабина, Стирал...",NaN,NaN,NaN,Пасс (1),NaN,https://www.cian.ru/rent/flat/272128059
174,174,273894772,"3, Оба варианта",м. Смоленская (10 мин пешком),"Москва, улица Новый Арбат, 29",124.0/79.0/22.0,10/17,подземная,"300000.0 руб./ За месяц, Залог - 300000 руб., ...","+79670394749, +79099269384",ID 26978: Современныя семейная квартира с 2-м...,Евроремонт,9-25-45,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/273894772
180,180,268872145,"4, Оба варианта",м. Смоленская (10 мин пешком),"Москва, улица Новый Арбат, 29",212.0/165.0/10.0,6/17,NaN,"350000.0 руб./ За месяц, Залог - 350000 руб., ...","+79660342340, +79099269384",ID 15328: Уютная 4-х комнатная квартира в ЖК ...,Евроремонт,40-40-35-50,NaN,На улицу и двор,Совмещенный (3),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/268872145
189,189,271453191,4,NaN,"Москва, улица Новый Арбат, 29",247.0/127.0/15.0,"13/17, Кирпичный",NaN,"500000.0 руб./ За месяц, Залог - 600000 руб., ...",+79161968762,С коллегами работаем на выгодных условиях. В а...,Дизайнерский,NaN,Балкон (1),Во двор,Раздельный (2),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Стиральная...",NaN,NaN,3.0,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/271453191

In [301]:
cdata=pd.DataFrame()
cdata['Время до метро']= data['Метро'].astype(str).apply(lambda x: x[:x.index('(')])
cdata['пешком']= data['Метро'].astype(str).apply(lambda x: 'пешком' if 'пешком' in x else 'на машине')
cdata['Метро']=data['Метро'].str.split('(', expand=True)[0]


cdata

ValueError: substring not found

In [ ]:
's'.index()

                     Время до метро  пешком           Метро
0      м. Смоленская (9 мин пешком)  пешком  м. Смоленская
1      м. Смоленская (8 мин пешком)  пешком  м. Смоленская
2      м. Смоленская (7 мин пешком)  пешком  м. Смоленская
3      м. Смоленская (3 мин пешком)  пешком  м. Смоленская
4       м. Арбатская (7 мин пешком)  пешком   м. Арбатская
...                             ...     ...             ...
23339    м. Говорово (8 мин пешком)  пешком    м. Говорово
23340    м. Солнцево (7 мин пешком)  пешком    м. Солнцево
23341    м. Солнцево (6 мин пешком)  пешком    м. Солнцево
23342   м. Солнцево (11 мин пешком)  пешком    м. Солнцево
23343   м. Говорово (10 мин пешком)  пешком    м. Говорово

[19714 rows x 3 columns]

,index,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Телефоны,Описание,Ремонт,"Площадь комнат, м2",Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
189,189,271453191,4,NaN,"Москва, улица Новый Арбат, 29",247.0/127.0/15.0,"13/17, Кирпичный",NaN,"500000.0 руб./ За месяц, Залог - 600000 руб., ...",+79161968762,С коллегами работаем на выгодных условиях. В а...,Дизайнерский,NaN,Балкон (1),Во двор,Раздельный (2),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Стиральная...",NaN,NaN,3.00,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/271453191
233,233,167911714,1,NaN,"Москва, 9-я Северная линия, 1К1, ш. Дмитровско...",38.8,"16/17, Панельный",наземная,"45000.0 руб./ За месяц, Залог - 45000 руб., Ко...",+79680126196,Однокомнатная квартира с хорошим ремонтом и ит...,Дизайнерский,NaN,Балкон (1),На улицу,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Душевая ка...",NaN,NaN,2.64,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/167911714
244,244,170068347,1,NaN,"Москва, бульвар Академика Ландау, 3, ш. Дмитро...",41.0/20.0/12.0,"5/15, Кирпичный",наземная,"30000.0 руб./ За месяц, Залог - 30000 руб., Ко...",+79652875668,"Квартира в новом доме по Дмитровскому шоссе, с...",Евроремонт,19,Лоджия (1),Во двор,Раздельный (1),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...","Северный, 2017",NaN,NaN,"Пасс (2), Груз (2)",Да,https://www.cian.ru/rent/flat/170068347
267,267,186299640,1,NaN,"Москва, Дмитровское шоссе, 165Дк6, ш. Дмитровс...",38.0/19.0/11.0,"3/17, Панельный",NaN,"32000.0 руб./ За месяц, Залог - 32000 руб., Ко...",+79660619245,Сдаю однокомнатную квартиру на длительный срок...,Косметический,19,Лоджия (1),Во двор,Совмещенный (1),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,3.00,NaN,Да,https://www.cian.ru/rent/flat/186299640
742,745,274251220,1,NaN,"Москва, улица Академика Янгеля, 2",45.0/24.0/12.0,"16/23, Монолитный",NaN,"40000.0 руб./ За месяц, Залог - 20 руб., Срок ...",+79660638799,"Сдаю однокомнатную квартиру г. Москва, ул. Ака...",Косметический,NaN,NaN,NaN,Раздельный (1),NaN,Интернет,М-House,NaN,NaN,NaN,NaN,https://www.cian.ru/rent/flat/274251220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21952,21970,272198789,3,NaN,"Москва, Медынская улица, 2К1",60.0/45.0/7.0,"7/9, Блочный",NaN,"45000.0 руб./ За месяц, Залог - 45000 руб., Ср...",+79853038117,"Сдается 3-х комнатная квартира ВПЕРВЫЕ, с ремо...",Косметический,NaN,Балкон (1),Во двор,Раздельный (1),NaN,"Мебель в комнатах, Мебель на кухне, Стиральная...",NaN,NaN,NaN,Пасс (1),NaN,https://www.cian.ru/rent/flat/272198789
21953,21971,274186143,"2, Изолированная",NaN,"Москва, Булатниковская улица, 5К5",44.2/27.9/6.1,"4/9, Панельный",NaN,"45000.0 руб./ За месяц, Залог - 45000 руб., Ср...",+79183707465,"Сдаю квартиру, вся мебель и техника. В 10 мину...",Косметический,9.2-18.7,NaN,Во двор,Раздельный (1),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Стиральная...",NaN,NaN,NaN,Пасс (1),Да,https://www.cian.ru/rent/flat/274186143
22142,22160,273969057,"2, Изолированная",NaN,"Москва, Стрелецкая улица, 7",60.0/39.0/10.0,"5/5, Кирпичный",NaN,"47000.0 руб./ За месяц, Залог - 47000 руб., Ср...",+79607139330,Просторная квартира после качественного космет...,Косметический,39,NaN,NaN,Раздельный (1),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Стиральная...",NaN,NaN,3.00,NaN,Нет,https://www.cian.ru/rent/flat/273969057
23249,23273,273795912,1,NaN,"Москва, Боровский проезд, 24, ш. Боровское (4 ...",36.0,7/12,открытая,"33000.0 руб./ За месяц, Срок аренды - Длительн...",+79660563375,"Квартира сдаётся с Яндекс Арендой, а значит вс...",Косметический,NaN,Лоджия (1),Во двор,Совмещенный (1),Можно с детьми,"Стиральная машина, Телевизор, Холодильник",NaN,NaN,NaN,NaN,NaN,https://www.cian.ru/rent/flat/273795912
23293,23317,274551448,3,NaN,"Москва, улица Богданова, 6к1, ш. Боровское (3 ...",73.0,5/23,открытая,"62000.0 руб./ За месяц, Срок аренды - Длительн...",+79851725267,"Квартира сдаётся с Яндекс Арендой, а значит вс...",Косметический,NaN,Лоджия (2),Во двор,Раздельный (1),Можно с детьми,"Стиральная машина, Холодильник",NaN,NaN,NaN,NaN,NaN,https://www.cian.ru/rent/flat/274551448

In [260]:
cdata.dropna()

      Время до метро           Метро  пешком
0                  9  м. Смоленская   пешком
1                  8  м. Смоленская   пешком
2                  7  м. Смоленская   пешком
3                  3  м. Смоленская   пешком
4                  7   м. Арбатская   пешком
...              ...             ...     ...
23339              8    м. Говорово   пешком
23340              7    м. Солнцево   пешком
23341              6    м. Солнцево   пешком
23342             11    м. Солнцево   пешком
23343             10    м. Говорово   пешком

[19369 rows x 3 columns]

array(['пешком', 'на машине'], dtype=object)

In [238]:
cdata

       Время до метро           Метро
0       9 мин пешком)  м. Смоленская
1       8 мин пешком)  м. Смоленская
2       7 мин пешком)  м. Смоленская
3       3 мин пешком)  м. Смоленская
4       7 мин пешком)   м. Арбатская
...               ...             ...
23339   8 мин пешком)    м. Говорово
23340   7 мин пешком)    м. Солнцево
23341   6 мин пешком)    м. Солнцево
23342  11 мин пешком)    м. Солнцево
23343  10 мин пешком)    м. Говорово

[19714 rows x 2 columns]

In [229]:
data.columns

Index(['index', 'ID  объявления', 'Количество комнат', 'Метро', 'Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны', 'Описание',
       'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Ссылка на объявление', 'Время до метро'],
      dtype='object')

In [204]:
data['Метро']

0        м. Смоленская
1        м. Смоленская
2        м. Смоленская
3        м. Смоленская
4         м. Арбатская
              ...
23339      м. Говорово
23340      м. Солнцево
23341      м. Солнцево
23342      м. Солнцево
23343      м. Говорово
Name: Метро, Length: 23344, dtype: object

Empty DataFrame
Columns: [index, ID  объявления, Количество комнат, Метро, Адрес, Площадь, м2, Дом, Парковка, Цена, Телефоны, Описание, Ремонт, Площадь комнат, м2, Балкон, Окна, Санузел, Можно с детьми/животными, Дополнительно, Название ЖК, Серия дома, Высота потолков, м, Лифт, Мусоропровод, Ссылка на объявление, Время до метро]
Index: []

In [211]:
data[pd.isnull(data['Адрес'])]

Empty DataFrame
Columns: [index, ID  объявления, Количество комнат, Метро, Адрес, Площадь, м2, Дом, Парковка, Цена, Телефоны, Описание, Ремонт, Площадь комнат, м2, Балкон, Окна, Санузел, Можно с детьми/животными, Дополнительно, Название ЖК, Серия дома, Высота потолков, м, Лифт, Мусоропровод, Ссылка на объявление, Время до метро]
Index: []

In [206]:

data['Метро'].unique()

array(['м. Смоленская ', 'м. Арбатская ', 'м. Кропоткинская ',
       'м. Александровский сад ', 'м. Киевская ',
       'м. Библиотека им. Ленина ', 'м. Боровицкая ', 'м. Баррикадная ',
       'м. Краснопресненская ', nan, 'м. Марк ', 'м. Алтуфьево ',
       'м. Новодачная ', 'м. Долгопрудная ', 'м. Ховрино ',
       'м. Селигерская ', 'м. Лианозово ', 'м. Достоевская ',
       'м. Кузнецкий мост ', 'м. Сухаревская ', 'м. Проспект Мира ',
       'м. Цветной бульвар ', 'м. Трубная ', 'м. Комсомольская ',
       'м. Рижская ', 'м. Сретенский бульвар ', 'м. Тургеневская ',
       'м. Марьина роща ', 'м. Коломенская ', 'м. Кожуховская ',
       'м. Депо ', 'м. Технопарк ', 'м. Печатники ',
       'м. Ленинский проспект ', 'м. Автозаводская ', 'м. Пражская ',
       'м. Алма-Атинская ', 'м. Улица Академика Янгеля ', 'м. Зябликово ',
       'м. Царицыно ', 'м. Тульская ', 'м. Шипиловская ',
       'м. Кантемировская ', 'м. Орехово ', 'м. Дубровка ', 'м. ЗИЛ ',
       'м. Чертановская ', 'м. Каховская ', 'м. Павелецкая ',
       'м. Нагорная ', 'м. Нахимовский проспект ', 'м. Каширская ',
       'м. Крымская ', 'м. Верхние котлы ', 'м. Красногвардейская ',
       'м. Домодедовская ', 'м. Лесопарковая ', 'м. Севастопольская ',
       'м. Покровское ', 'м. Шаболовская ', 'м. Аннино ',
       'м. Варшавская ', 'м. Нагатинская ', 'м. Крестьянская застава ',
       'м. Пролетарская ', 'м. Площадь Гагарина ', 'м. Битца ',
       'м. Южная ', 'м. Москворечье ', 'м. Новочеркасская ',
       'м. Ладожская ', 'м. Лесная ', 'м. Площадь Ленина ',
       'м. Гражданский проспект ', 'м. Академическая ', 'м. Девяткино ',
       'м. Проспект Большевиков ', 'м. Площадь Мужества ', 'м. Зенит ',
       'м. Площадь Александра Невского ', 'м. Московская ', 'м. Купчино ',
       'м. Фрунзенская ', 'м. Звездная ', 'м. Парк Победы ',
       'м. Электросила ', 'м. Московские ворота ', 'м. Проспект Славы ',
       'м. Митино ', 'м. Волоколамская ', 'м. Пятницкое шоссе ',
       'м. Пенягино ', 'м. Люблино ', 'м. Братиславская ', 'м. Перерва ',
       'м. Волжская ', 'м. Кубанская ', 'м. Котельники ', 'м. Марьино ',
       'м. Планерная ', 'м. Речной вокзал ', 'м. Сходненская ',
       'м. Кузьминки ', 'м. Окская ', 'м. Рязанский проспект ',
       'м. Текстильщики ', 'м. Коптево ', 'м. Красный Балтиец ',
       'м. Войковская ', 'м. Окружная ', 'м. Петровско-Разумовская ',
       'м. Лихоборы ', 'м. Верхние Лихоборы ', 'м. Сокол ',
       'м. Водный стадион ', 'м. Борисово ', 'м. Отрадное ',
       'м. Владыкино ', 'м. Бибирево ', 'м. Дегунино ', 'м. Строгино ',
       'м. Мякинино ', 'м. Щукинская ', 'м. Тушинская ',
       'м. Беломорская ', 'м. Ботанический сад ', 'м. ВДНХ ',
       'м. Ростокино ', 'м. Выставочный центр ',
       'м. Улица Сергея Эйзенштейна ', 'м. Серпуховская ',
       'м. Третьяковская ', 'м. Новокузнецкая ', 'м. Добрынинская ',
       'м. Таганская ', 'м. Мичуринский проспект ', 'м. Минская ',
       'м. Славянский бульвар ', 'м. Озерная ', 'м. Давыдково ',
       'м. Аминьевская ', 'м. Раменки ', 'м. Проспект Вернадского ',
       'м. Щелковская ', 'м. Локомотив ', 'м. Первомайская ',
       'м. Черкизовская ', 'м. Измайловская ', 'м. Бабушкинская ',
       'м. Свиблово ', 'м. Медведково ', 'м. Багратионовская ',
       'м. Ломоносовский проспект ', 'м. Юго-Западная ',
       'м. Рабочий поселок ', 'м. Калужская ', 'м. Кунцевская ',
       'м. Кутузовская ', 'м. Говорово ', 'м. Молодежная ',
       'м. Новые Черемушки ', 'м. Сетунь ', 'м. Выставочная ',
       'м. Университет ', 'м. Крылатское ', 'м. Шелепиха ',
       'м. Студенческая ', 'м. Фили ', 'м. Тропарево ',
       'м. Филевский парк ', 'м. Новаторская ', 'м. Новопеределкино ',
       'м. Солнцево ', 'м. Семеновская ', 'м. Соколиная гора ',
       'м. Электрозаводская ', 'м. Измайлово ', 'м. Шоссе Энтузиастов ',
       'м. Лефортово ', 'м. Партизанская ', 'м. Панфиловская ',
       'м. Стрешнево ', 'м. Октябрьское поле ', 'м. Зорге ',
       'м. Покровское-Стрешнево ', 'м. Полежаевская ', 'м. Аэропорт ',
       'м. Охотный ряд ', 'м. Международная ', 'м. Деловой центр ',
       'м. Белорусская ', 'м. Маяковская ', 'м. Чистые пруды ',
       'м. Октябрьская ', 'м. Лубянка ', 'м. Новослободская ',
       'м. Тестовская ', 'м. Парк Культуры ', 'м. Курская ',
       'м. Пушкинская ', 'м. Тверская ', 'м. Спортивная ', 'м. Лужники ',
       'м. Китай-город ', 'м. Красные ворота ', 'м. Полянка ',
       'м. Чеховская ', 'м. Улица 1905 года ', 'м. Дмитровская ',
       'м. Менделеевская ', 'м. Алексеевская ', 'м. Фонвизинская ',
       'м. Тимирязевская ', 'м. Улица Академика Королева ',
       'м. Бутырская ', 'м. Савеловская ', 'м. Улица Милашенкова ',
       'м. Выхино ', 'м. Юго-Восточная ', 'м. Лермонтовский проспект ',
       'м. Жулебино ', 'м. Косино ', 'м. Белокаменная ',
       'м. Преображенская площадь ', 'м. Бульвар Рокоссовского ',
       'м. Римская ', 'м. Некрасовка ', 'м. Бауманская ', 'м. Угрешская ',
       'м. Авиамоторная ', 'м. Волгоградский проспект ',
       'м. Новохохловская ', 'м. Нижегородская ', 'м. Стахановская ',
       'м. Курьяново ', 'м. Площадь Ильича ', 'м. Калитники ',
       'м. Народное ополчение ', 'м. улица Народного ополчения ',
       'м. Хорошево ', 'м. Балтийская ', 'м. Телецентр ',
       'м. Москва-Товарная ', 'м. Зюзино ', 'м. Автово ',
       'м. Проспект Ветеранов ', 'м. Беговая ', 'м. Чкаловская ',
       'м. Красносельская ', 'м. Яхромская ', 'м. Бескудниково ',
       'м. Новоясеневская ', 'м. Ясенево ', 'м. Битцевский парк ',
       'м. Теплый Стан ', 'м. Беляево ', 'м. Коньково ',
       'м. Марксистская ', 'м. Каланчёвская ', 'м. Профсоюзная ',
       'м. Спартак ', 'м. Гражданская ', 'м. Динамо ',
       'м. Петроградская ', 'м. Горьковская ', 'м. Крестовский остров ',
       'м. Черная речка ', 'м. Выборгская ', 'м. Политехническая ',
       'м. Новогиреево ', 'м. Перово ', 'м. Лухмановская ',
       'м. Сокольники ', 'м. Улица Дмитриевского ', 'м. Новокосино ',
       'м. Андроновка ', 'м. Рыбацкое ', 'м. Шушары ', 'м. Обухово ',
       'м. Щербинка ', 'м. Улица Скобелевская ', 'м. Улица Горчакова ',
       'м. Бунинская аллея ', 'м. Бульвар Дмитрия Донского ',
       'м. Бульвар Адмирала Ушакова ', 'м. Бутово ', 'м. Воронцовская ',
       'м. Воробьевы горы ', 'м. Мневники ', 'м. Сколково ',
       'м. Немчиновка ', 'м. ЦСКА ', 'м. Петровский Парк ',
       'м. Хорошевская ', 'м. Кировский завод ', 'м. Красный Строитель ',
       'м. Боровское шоссе ', 'м. Рассказовка ', 'м. Нахабино ',
       'м. Комендантский проспект ', 'м. Проспект Просвещения ',
       'м. Старая Деревня ', 'м. Удельная ', 'м. Пионерская ',
       'м. Озерки ', 'м. Сенная площадь ', 'м. Адмиралтейская ',
       'м. Садовая ', 'м. Технологический институт ', 'м. Нарвская ',
       'м. Звенигородская ', 'м. Невский проспект ',
       'м. Василеостровская ', 'м. Трикотажная ', 'м. Саларьево ',
       'м. Румянцево ', 'м. Площадь Восстания ', 'м. Чернышевская ',
       'м. Владимирская ', 'м. Гостиный двор ', 'м. Обводный канал ',
       'м. Лиговский проспект ', 'м. Улица Старокачаловская ',
       'м. Ломоносовская ', 'м. Улица Дыбенко ', 'м. Елизаровская ',
       'м. Парнас ', 'м. Приморская ', 'м. Театральная ', 'м. Павшино ',
       'м. Бухарестская ', 'м. Дунайская ', 'м. Волковская '],
      dtype=object)

In [146]:


for i ,n in enumerate( data['Количество комнат']):
    try:
        a=dataparser.parse_col_rooms(data['Цена'][i])
        assert a[0]>0
        a=dataparser.parse_rental(data['Цена'][i])
        assert a[0]>0
    except:
        print(i,n)
        break

array(['4', '4, Оба варианта', '2', '3', '5, Оба варианта',
       '3, Изолированная', '5', '5, Изолированная', '2, Оба варианта',
       '3, Оба варианта', '6', '1', '4, Изолированная', '6, Оба варианта',
       '2, Изолированная', 1, '2, Смежная', '4, Смежная', '3, Смежная',
       '6, Изолированная', '1, Изолированная', '1, Оба варианта',
       '5, Смежная', '6, Смежная', '1, Смежная'], dtype=object)

In [131]:
data[pd.isnull(data['Количество комнат'])]

Empty DataFrame
Columns: [index, ID  объявления, Количество комнат, Тип, Метро, Адрес, Площадь, м2, Дом, Парковка, Цена, Телефоны, Описание, Ремонт, Площадь комнат, м2, Балкон, Окна, Санузел, Можно с детьми/животными, Дополнительно, Название ЖК, Серия дома, Высота потолков, м, Лифт, Мусоропровод, Ссылка на объявление]
Index: []

'ID 669. С коллегами работаем 50/50. Видовые апартаменты площадью 41 м² комплексе "Звёзды Арбата" на 10 этаже. Премиальные апартаменты с личным гостиничным сервисом от Marriott 5*. Выполнена дизайнерская отделка в современном стиле. Интерьер оформлен в белоснежных тонах, в отделке использовано светлое натуральное дерево. Благодаря большим окнам и высоким потолкам пространство наполнено светом.\n\nСпланирована гостиная-студия, санузел с душевой, гардеробная. Апартамент полностью укомплектован современной мебелью. Установлена встроенная кухня с бытовой техникой премиум-класса, включая посудомоечную машину и духовой шкаф. Из окон открывается панорамный вид на Новый Арбат, Москву-реку, гостиницу "Украина" и башни "Москва-Сити". Машиноместо в подземном паркинге не входит в стоимость.\n\nОписание комплекса\n\n"Звёзды Арбата"  13-этажная городская резиденция премиум-класса. Расположена в самом центре Москвы на Новом Арбате. В апартаментах выполнена премиальная отделка, установлена встроенная кухонна ..., 27 фото'

(500000.0, 500000.0, 'Коммунальные услуги включены', 'Длительный', 1.0)

In [106]:
data['Цена'][0]

'500000.0 руб./ За месяц, Залог - 500000 руб., Коммунальные услуги включены, Срок аренды - Длительный, Предоплата 1 мес'

In [96]:
data[~data['Цена'].str.contains('руб.')]

Empty DataFrame
Columns: [ID  объявления, Количество комнат, Тип, Метро, Адрес, Площадь, м2, Дом, Парковка, Цена, Телефоны, Описание, Ремонт, Площадь комнат, м2, Балкон, Окна, Санузел, Можно с детьми/животными, Дополнительно, Название ЖК, Серия дома, Высота потолков, м, Лифт, Мусоропровод, Ссылка на объявление]
Index: []